<template>
    <section class="content">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-12 col-sm-6 col-md-3">   
                                                     
                </div>
                <div class="clearfix hidden-md-up"></div>                            
            </div>
            
          </div>
       </section>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
