<template>
  <section class="content">
    <div class="container-fluid">
        <div class="row">

          <div class="col-12">
        
            <div class="card" v-if="$gate.isAdmin()">
              <div class="card-header">
                <h3 class="card-title">User List</h3>

                <div class="card-tools">
                  
                  <button type="button" class="btn btn-sm btn-primary" @click="newModal">
                      <i class="fa fa-plus-square"></i>
                      Add New
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>IC</th>
                      <th>Username</th>
                      <th>Gender</th>
                      <th>Joined Date</th>
                      <th>Type</th>
                      <th>Photo</th>
                      <th>Action</th>

                    </tr>
                  </thead>
                  <tbody>
                     <tr v-for="user in users.data" :key="user.id">

                      <td>{{user.id}}</td>                      
                      <td class="d-block text-muted" @click="viewModal(user)">{{user.name}}</td>
                      <td class="text-capitalize">{{user.gender}}</td>
                      <td>{{user.created_at}}</td>
                      <td class="text-capitalize">{{user.type}}</td>
                      <td><img :src="`images/upload/${user.photo}`" class="profile-user-img img-fluid img-circle" style="height:40px; width:40px;"></td>


                     <!-- <td><img v-bind:src="'/' + user.photo" width="100"></td>
                     <td><img :src="`images/cars/${user.photo}`" class="profile-user-img img-fluid img-circle" style="height:40px; width:40px;"></td>
                    -->
                      <td>
                        <a href="#" @click="viewModal(user)">
                            <i class="fa fa-eye red"></i>
                        </a>        
                        /
                        <a href="#" @click="editModal(user)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        /
                        <a href="#" @click="deleteUser(user.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                             
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <pagination :data="users" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>


        <div v-if="!$gate.isAdmin()">
            <not-found></not-found>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNew" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode">Create New User</h5>
                    <h5 class="modal-title" v-show="editmode">Update User Info</h5>
                    <h5 class="modal-title" v-show="viewmode">View User Info</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- <form @submit.prevent="createUser"> -->

                <form @submit.prevent="editmode ? updateUser() : createUser()">
                    <div class="modal-body"> 
                       <div class="form-group">
                        <img class="profile-user-img img-fluid img-circle mx-auto d-block" :src="getPhoto()" alt="Tampilan photo">
                             </div>
                           <div class="form-group">
                            <label>Photo</label>
                            <input type="file" v-on:change="uploadPhoto" name="photo"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('photo') }">
                            <has-error :form="form" field="photo"></has-error>
                        </div>
                         
                        <div class="form-group">
                            <label>Name</label>
                            <input v-model="form.name" type="text" name="name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                         <div class="form-group">
                            <label>Gender</label>
                            <select name="gender" v-model="form.gender" class="form-control" :class="{ 'is-invalid': form.errors.has('gender') }">
                                <option value="">Select Your Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <has-error :form="form" field="gender"></has-error>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input v-model="form.email" type="text" name="email"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                    
                        <div class="form-group">
                            <label>Password</label>
                            <input v-model="form.password" type="password" name="password"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('password') }" autocomplete="false">
                            <has-error :form="form" field="password"></has-error>
                        </div>
                    
                        <div class="form-group">
                            <label>User Role</label>
                            <select name="type" v-model="form.type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                                <option value="">Select User Role</option>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                            <has-error :form="form" field="type"></has-error>
                        </div>
                        <div class="form-group">
                            <label>The group(s)</label>
                            <select class="form-control" v-model="form.group_id">
                              <option 
                                  v-for="(gro,index) in groups" :key="index"
                                  :value="index"
                                  :selected="index == form.group_id">{{ gro }}</option>
                            </select>
                            <has-error :form="form" field="group_id"></has-error>
                        </div>
                            <div class="form-group">
                            <label>Remarks</label>
                            <textarea v-model="form.remarks" type="text" name="remarks"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('remarks') }"></textarea>
                            <has-error :form="form" field="remarks"></has-error>
                        </div>
                      </div>                        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                        <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>


        
          <!-- Modal -->
        <div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="viewmode">Show User's</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
<!-- <form @submit.prevent="viewUser"> -->
                <form @submit.prevent="viewmode ? viewUser() : createUser()">

                    <div class="modal-body">
                      <div class="form-group">
                        <img class="profile-user-img img-fluid img-circle mx-auto d-block" :src="getPhoto()" alt="Tampilan photo">
                     </div>
                        <div class="form-group">
                            <label>IC</label>
                            <input readonly v-model="form.id" type="text" name="id"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('id') }">
                            <has-error :form="form" field="id"></has-error>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input readonly v-model="form.name" type="text" name="name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                         <div class="form-group">
                            <label>Gender</label>
                            <input readonly v-model="form.gender" type="text" name="gender"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('gender') }">
                            <has-error :form="form" field="gender"></has-error>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input readonly v-model="form.email" type="text" name="email"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                    
                        <div class="form-group">
                            <label>Joined</label>
                            <input readonly v-model="form.created_at" type="text" name="created_at"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('created_at') }" autocomplete="false">
                            <has-error :form="form" field="created_at"></has-error>
                        </div>
                    
                        <div class="form-group">
                            <label>User Role</label>
                            <select name="type" readonly v-model="form.type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                                <option value="">Select User Role</option>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                            <has-error :form="form" field="type"></has-error>
                        </div>
                        <div class="form-group">
                            <label>The group(s)</label>
                            <select class="form-control" readonly v-model="form.group_id">
                              <option 
                                  v-for="(gro,index) in groups" :key="index"
                                  :value="index"
                                  :selected="index == form.group_id">{{ gro }}</option>
                            </select>
                            <has-error :form="form" field="group_id"></has-error>
                        </div>
                         <div class="form-group">
                            <label>Remarks</label>
                            <input readonly v-model="form.remarks" type="text" name="remarks"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('remarks') }" autocomplete="false">
                            <has-error :form="form" field="remarks"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                         
                    </div>
                  </form>                              
                </div>
            </div>
        </div>
    </div>
  </section>
</template>

<script>
    export default {
        data () {
            return {
                editmode: false,
                viewmode: false,
                users : {},
                form: new Form({
                    id : '',
                    name: '',                                        
                    group : '',
                    gender: '',
                    email: '',
                    password: '',
                    remarks: '',
                    group_id: '',
                    type: '',
                    created_at: '',                    
                    email_verified_at: '',
                    photo: '',
                    photoUrl: '',                  
                }),
                    groups: [],

            }
        },
        methods: {
           uploadPhoto(e){
              let file = e.target.files[0];
                let reader = new FileReader();  

                if(file['size'] < 2111775)
                {
                    reader.onloadend = (file) => {
                    //console.log('RESULT', reader.result)
                     this.form.photo = reader.result;
                    }              
                     reader.readAsDataURL(file);
                }else{
                    alert('File size can not be bigger than 2 MB')
                }
            },
              getPhoto(){
               let photo = (this.form.photo.length > 100) ? this.form.photo : "images/upload/"+ this.form.photo;
                return photo;
            },
            getResults(page = 1) {

                  this.$Progress.start();                  
                  axios.get('api/user?page=' + page).then(({ data }) => (this.users = data.data));
                  this.$Progress.finish();
            },
            updateUser(){
                this.$Progress.start();
                this.form.put('api/user/'+this.form.id)
                .then((response) => {
                    // success
                    $('#addNew').modal('hide');
                    Toast.fire({
                      icon: 'success',
                      title: response.data.message
                    });
                    this.$Progress.finish();
                        //  Fire.$emit('AfterCreate');

                    this.loadUsers();
                })
                .catch(() => {
                    this.$Progress.fail();
                });

            },
            viewModal(user){

                this.viewmode = true;
                this.form.reset();
                $('#view').modal('show');
                this.form.fill(user);
            },
             viewUser(){
                 
               this.$Progress.start();
                this.form.put('api/user/'+this.form.id)
                .then((response) => {
                    // success
                    $('#view').modal('hide');
                    Toast.fire({
                      icon: 'success',
                      title: response.data.message
                    });
                    this.$Progress.finish();
                        //  Fire.$emit('AfterCreate');

                    this.loadUsers();
                })
                .catch(() => {
                    this.$Progress.fail();
                });

            },
  
            editModal(user){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteUser(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {

                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/user/'+id).then(()=>{
                                        Swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        );
                                    // Fire.$emit('AfterCreate');
                                    this.loadUsers();
                                }).catch((data)=> {
                                  Swal.fire("Failed!", data.message, "warning");
                              });
                         }
                    })
            },
          loadUsers(){
            this.$Progress.start();

            if(this.$gate.isAdmin()){
              axios.get("api/user").then(({ data }) => (this.users = data.data));
            }

            this.$Progress.finish();
          },
          
           loadGroups(){
              axios.get("/api/group/list").then(({ data }) => (this.groups = data.data));
          },
          createUser(){

              this.form.post('api/user')
              .then((response)=>{
                  $('#addNew').modal('hide');

                  Toast.fire({
                        icon: 'success',
                        title: response.data.message
                  });

                  this.$Progress.finish();
                  this.loadUsers();

              })
              .catch(()=>{

                  Toast.fire({
                      icon: 'error',
                      title: 'Some error occured! Please try again'
                  });
              })
          }

        },
        mounted() {
            console.log('User Component mounted.')
        },
        created() {

            this.$Progress.start();
            this.loadUsers();
            this.loadGroups();
            
       this.$Progress.finish();
        },
        filters: {
            truncate: function (text, length, suffix) {
                return text.substring(0, length) + suffix;
            },
        },
        computed: {
          filteredItems() {
            return this.autocompleteItems.filter(i => {
              return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
            });
          },
        },
    }
</script>                                        <!-- /.Devlopment by Asep Rayana -->

